#rules {
    font-size: 24pt;
    text-align: center;
    list-style-type: none;
}

.app-alert {
    font-size: 0.9rem;
    line-height: 1.8em;
    text-align: center;

    background-color: #ffae00;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

body {
    padding-top: 2.4rem;
}
