<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Phonosynth Demo</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

<body class="grid-container">
  {% if config['ENV'] == 'development' %}
    <p class="app-alert">Development
  {% endif %}
  <h1>Phonosynth Demo</h1>
  <ul id="rules" class="callout">
    <li>Upload a file and infer a rule
  </ul>
  <div class="grid-x align-justify">
    <label for="csv-upload" class="button cell small-2">
      Upload file
      <input id="csv-upload" type="file" class="show-for-sr">
    </label>
    <button id="infer" type="button" class="button cell small-2">Infer rule</button>
  </div>
  <table id="word-stems" class="row">
    <thead>
      <tr>
        <th>Underlying form
        <th>Realization
    <tbody>
  </table>
  
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.csv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
